# vim:syntax=crontab

PATH="/usr/local/bin"

# Delete all files and directories in the ~/.temporary dir
@daily /bin/rm -r ~/.temporary/*
# Delete files in trash monthly
@monthly /bin/rm -r ~/.Trash/*
