# vim:syntax=crontab

# vim:syntax=crontab

# Delete all files and directories in the ~/.temporary dir
0 */3 * * * /bin/rm -rf ~/.temporary/*

0 */24 * * * cd ~/.dotfiles/setup && /opt/homebrew/bin/brew bundle dump --force --describe
